body {
  background-color: #F7F5F5;
  font-family: Arial, sans-serif;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px; 
}

.header-left {
    font-size: 24px;
    font-weight: bold;
}

.header-right a { 
    color: white;
    text-decoration: none; 
    margin-left: 15px; 
}
.header, .footer {
    background-color: #FFC704;
    color: black;
}

.contact-info {
  position: fixed;
 bottom: 50px;
  left: 300px;
  font-size: 20px;
  color: #4286F5;
}


.footer {
 width: 100%;
 position: fixed;
 bottom: 0;
}



.content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
}
