body {
  background-color: #F7F5F5;
  font-family: Arial, sans-serif;
  text-align: center;
}
.header {
 width: 100%
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header-left {
    font-size: 24px;
    font-weight: bold;
}

.header-right a {   /*a means apply only to links */
    color: white;
    text-decoration: none; /* no underscore*/
    margin-left: 15px; 
}
.header, .footer {
    background-color: #FFC704;
    color: black;
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #4286F5;
}

.footer {
 width: 100%
 bottom: 15;
 padding: 15px;
}


.content {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: white;
}
